@import "https://fonts.googleapis.com/css?family=Lobster";
@import "https://fonts.googleapis.com/css?family=Cabin";

body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

p {
  letter-spacing: 2px;
}

.wrapper {
  position: relative;
  top: 20px;
}

.navbar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 99;
  cursor: pointer;
  list-style-type: none;
  font-family: 'Lobster', Georgia, Times, serif;
}

.avatar {
  width: 5vw;
  height: 5vw;
}

.navbar1 {
  font-size: 4vw;
  margin-right: 70%;
  display: flex;
  flex-direction: row;
}

.navbar1 > p {
  margin: 0;
  padding: 0;
}

.navbar2 {
  margin-right: 2%;
  font-size: 2vw;
}

.navbar3 {
  font-size: 2vw;
}

.parallax {
  background-image: url('./assets/img/color.png');
  background-color: white;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 98vh;
  z-index: -2;
}

.parallaxSecond {
  min-height: 100px;
  position: relative;
  display: flex;
  background-color: #86AFB5;
}

.test {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  background-color: white;
  z-index: 10;
  position: relative;
}

.infoPage {
  width: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoCaption {
  width: 500px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

.elinProfile {
  display: flex;
  width: 20%;
  border-radius: 50%;
}

.caption {
  display: flex;
  position: fixed;
  text-align: center;
  top: 25%;
  z-index: 0;
  width: 100%;
  justify-content: center;
}

.column-one {
  padding: 0 20% 0 20%;
}

.column-one>p {
  font-size: 3vw;
  overflow: hidden;
}

span {
  animation: blink 1s infinite;
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

.logoTypes {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.logoTypeCaption {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.captionText {
  background-color: pink;
  border: 2px solid;
  border-radius: 10px;
  word-wrap: break-word;
  padding: 10% 10% 10% 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.captionText:hover {
  border-radius: 50% / 10%;
}

.test1 {
  height: 220px;
  width: 150px;
  flex-wrap: wrap;
  font-size: 200%;
  text-align: center;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 10px 10px;
}

.logo0 {
  background-image: url('./assets/img/elingrater.png');
}

.logo1{
  background-image: url('./assets/img/samgrater.png');
}

.logo2 {
  background-image: url('./assets/img/allagrater.png');
}

.logo3 {
  background-image: url('./assets/img/nodeLogo.png');
  background-size: 133%;
  background-position: -20px 20px;
}

.logo4 {
  background-image: url('./assets/img/reactLogo.png');
}

.logo5 {
  background-image: url('./assets/img/gitLogo.png');
  background-position: 0px, 30px;
}

.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 300px;
  background-color: #5A8C93;
  position: relative;
  z-index: 10;
}

.footerLogo {
  margin-top: 50px;
  height: 15%;
  width: 15%;
}

.testaren{
  height: 75%;
  width: 100%;
}

.testaren11 {
  text-align: center;
  width:
}

.lala {
  background-color: #3A747C;
  height: 100px;
  width: 100%;
  z-index: 10;
  position: relative;
}
