body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.parallax {
  background-image: url('./assets/img/bg.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.parallaxSecond {
  background-image: url('./assets/img/bg.jpg');
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
}

.test {
display: flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
height: 500px;
}

.infoPage {
  width: 400px;
  background-color: white;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoCaption {
  width: 500px;
}

.elinProfile {
  display: flex;
  width: 20%;
  border-radius: 50%;
}

.caption {
  position: absolute;
  text-align: center;
  top: 40%;
}

.column-one>p {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end);
}

.column-one>p:nth-child(2) {
  animation: type2 9s steps(60, end);
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

.logoTypes {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.logoTypeCaption {
  width: 50%;
}


.test1 {
  height: 220px;
  width: 150px;
  flex-wrap: wrap;
  font-size: 200%;
  text-align: center;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 10px 10px;
}

.firstLogo {
  background-image: url('./assets/img/elingrater.png');
}

.secondLogo{
  background-image: url('./assets/img/samgrater.png');
}

.thirdLogo {
  background-image: url('./assets/img/allagrater.png');
}

.forthLogo {
  background-image: url('./assets/img/nodeLogo.png');
  background-size: 133%;
  background-position: -20px 20px;
}

.fifthLogo {
  background-image: url('./assets/img/reactLogo.png');
}

.sixthLogo {
  background-image: url('./assets/img/gitLogo.png');
  background-position: 0px, 30px;
}
